.checkbox-group label {
    width: 150px;
    height: 150px;
    border: 3px solid #5fa3de;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px;
    cursor: pointer;
}
.checkbox-group label.active {
    background-color: #3498DB;
}
.checkbox-group label.active svg path {
    fill: #ffffff;
}
.checkbox-group label input {
    display: none;
}