.form-inner {
    max-width: 400px;
}
.heading-top {
    font-size: 34px;
    font-weight: 700;
}
.greet-footer {
    margin: 45px 0px 45px;
    text-align: center;
}
.greet-content p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 28px;
    text-align: left;
}
.greet-footer img {
    max-width: 100%;
}

@media (max-width: 992px) {
    .form-inner {
        margin-top: 50px;
    }
}