<div class="form-inner location-form">
    <h3 class="heading-top">Checkin LPR Set Up</h3>
    <p class="text-left">Depending on the positioning of the vehicle at the entry point, you may need more two cameras to be able to accurately read the license plate.</p>

    <p class="mt-2 text-left">You may also want to read both license plates (front and rear). Make sure you set up the correct configuration for this access profile.</p>

    <div class="row form-row my-5">
        <div class="col-md-12">
            <div class="input-group">
                <span class="icon icon-cctv"></span>
                <select class="form-control" placeholder="Location Name">
                    <option value="">No. of CCTV Cameras Allowed</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group">
                <span class="icon icon-cctv"></span>
                <select class="form-control" placeholder="Location Name">
                    <option value="">No. of CCTV Cameras Allowed</option>
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-next" routerLink="/step-twentyone">Next</button>
    <button class="btn btn-back mt-2">Back</button>
</div>

