<div class="form-inner location-form">
    <h3 class="heading-top">Checkout LPR Set Up</h3>
    <p>Same logic is applied for exit points. Make sure you set up the correct configuration for this access profile.</p>
    
    <div class="row form-row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="icon icon-cctv"></span>
                <select class="form-control" placeholder="Location Name">
                    <option value="">No. of CCTV Cameras Allowed</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group">
                <span class="icon icon-cctv"></span>
                <select class="form-control" placeholder="Location Name">
                    <option value="">No. of CCTV Cameras Allowed</option>
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-next">Next</button>
    <button class="btn btn-back mt-2">Back</button>
</div>
