<div class="form-right">
     <!-- <app-servey-one></app-servey-one>    -->
     <!-- <app-servey-two></app-servey-two> -->
     <!-- <app-servey-three></app-servey-three> -->
     <!-- <app-servey-four></app-servey-four> -->
     <!-- <app-servey-five></app-servey-five> -->
     <!-- <app-servey-six></app-servey-six> -->
     <!-- <app-servey-seven></app-servey-seven> -->
     <!-- <app-servey-eight></app-servey-eight> -->
     <!-- <app-servey-nine></app-servey-nine> -->
     <!-- <app-servey-ten></app-servey-ten> -->
     <!-- <app-servey-eleven></app-servey-eleven> -->
     <!-- <app-servey-twelve></app-servey-twelve> -->
     <!-- <app-servey-thirteen></app-servey-thirteen>
     <app-servey-fourteen></app-servey-fourteen>
     <app-servey-fifteen></app-servey-fifteen> -->
     <!-- <app-servey-sixteen></app-servey-sixteen> -->
     <!-- <app-servey-seventeen></app-servey-seventeen> -->
     <!-- <app-servey-eighteen></app-servey-eighteen> -->
     <!-- <app-servey-nineteen></app-servey-nineteen> -->
     <!-- <app-servey-twenty></app-servey-twenty> -->
     <!-- <app-servey-twentyone></app-servey-twentyone> -->
     <!-- <app-servey-twentytwo></app-servey-twentytwo> -->
     <!-- <app-servey-twentythree></app-servey-twentythree> -->
     <!-- <app-servey-twentyfour></app-servey-twentyfour> -->
</div>
