/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row-main {
    display: flex;
    align-items: center;
}
.btn-back:hover {
    background-color: #3498DB;
    color: #ffffff;
}
.btn-next:hover {
    background-color: transparent;
    color: #3498DB;
    
}
.btn-next {
    background: #3498DB;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #3498DB;
    width: 100%;
}
.btn-back {
    border: 2px solid #3498DB;
    background-color: #fff;
    color: #3498DB;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}